<h1 class="main-title">Music Radio Inc</h1>
<h2 class="dashboard-title">Catálogo de Álbumes</h2>
<div class="album-grid">
  <mat-card *ngFor="let album of albums"
            class="album-card"
            (mouseenter)="hoveredAlbum = album"
            (mouseleave)="hoveredAlbum = null"
            [ngClass]="{'album-card-hover': hoveredAlbum === album}">
    <img mat-card-image [src]="album.image" alt="{{album.title}}">
    <span *ngIf="album.presale" class="badge-preventa">Preventa</span>
    <mat-card-title>{{ album.title }}</mat-card-title>
    <mat-card-subtitle>{{ album.artist }}</mat-card-subtitle>
    <p class="price">{{ album.price | currency:'USD' }}</p>
    <button mat-raised-button color="primary" (click)="addToCart(album)">
      <mat-icon>shopping_cart</mat-icon> Comprar
    </button>
  </mat-card>
</div>

<div style="height: 40px;"></div>

<div class="actions">
  <button mat-stroked-button color="accent" routerLink="/register" class="big-btn">
    Suscríbete
  </button>
  <button mat-flat-button color="accent" routerLink="/login" class="big-btn">
    Iniciar Sesión
  </button>
</div>
